@import "~bootstrap/scss/bootstrap";

body {
  color: burlywood;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  color: #343a40;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.container-xl {
  max-width: 1200px;
  margin: 0 auto;
}

/* Header Styles */
.modal {
  display: none;
}

/* Main Content Styles */
.rss-form {
  margin-top: 20px;
}

.feedback {
  bottom: 5px;
}

.posts {
  margin-top: 20px;
}

.feeds {
  margin-top: 20px;
}

/* Footer Styles */
.footer {
  text-align: center;
}
